@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* oops these are sass variables */
/* $linkPink: rgb(216, 29, 216);
$linkPurple: rgb(98, 16, 250); */

html {
    font-size: 1.1em;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh;
    background-color: #1b1b1b;
    /* color: #2E5984; */
    color: rgb(216, 29, 216);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h2 {
    /* color: rgb(98, 16, 250); */
    font-weight: 600;
}

a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: rgb(216, 29, 216);
}

textarea {
    color: rgb(216, 29, 216);
    background-color: #2f2f2f;
    border: none;
    overflow: auto;
    outline: none;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    
    resize: none; /*remove the resize handle on the bottom right*/
}

textarea.post-textarea {
    font-size: 1.2em;
}

.submit-button {
    display: block;
    background-color: #2f2f2f;
    color: #528AAE;
    padding: 5px 20px;
    border: 1px #528AAE solid;
    border-radius: 2px;
    font-weight: 500;
}

.submit-button:hover {
    /* background-color: #528AAE; */
    border: 1px #91BAD6 solid;
    color: #91BAD6;
}

.submit-button.button-disabled:hover {
    color: #528AAE;
    border: 1px #528AAE solid;

}

.char-remaining {
    font-size: .8em;
    color: rgb(176, 16, 250);
}

.post-container {
    font-size: .9em;
}

.timestamp {
    display: inline-block;
    color: rgb(176, 16, 250);
}

.signup-button {

}